@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --color-primary: #051F58; 
}

html {
  scroll-behavior: smooth;
}
