---
import Init from "@/components/Init.astro";
import Header from "../components/Header.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <Header />
    <hr class="w-full lg:hidden" />
    <section id="" class="h-screen mt-4">
        <Init />
    </section>
    <section id="history" class="h-screen">a</section>
    <section id="us" class="h-screen">a</section>
    <section id="curriculum" class="h-screen">a</section>
    <section id="teachers" class="h-screen">a</section>
</Layout>
