---
import video from "../assets/img/Portada/portada-0.mp4";
---

<div class="w-full pt-4">
    <div class="flex w-full items-center justify-center h-screen">
        <video controls>
            <source src={video} type="video/mp4" />
            Tu navegador no soporta el video.
        </video>
    </div>
</div>
