---

import logo from '../assets/img/logo.jpg'



---
<div class="flex items-center h-26 p-2 gap-x-2 ">
    <img src={logo.src} alt="Logo Universidad" class="w-18" />
    <div class="h-full flex items-center gap-x-0.5">
        <hr class="h-full w-0.5 bg-white">
    </div>
    <span class="flex flex-col text-gray-300 font-bold font-roboto uppercase">
        <span class="text-xl font-light">Universidad Nacional</span>
        <span class="text-xl">Micaela Bastidas</span>
        <span class="text-xl">De Apurímac</span>
    </span>
</div>